<% include ./partials/header.ejs %>
  <div class="jumbotron text-center">
    <%# Display class is used to display headings like in h tag %>
    <h1 class="display-2">Welcome to VidJot</h1>
    <p class="lead">Jot down ideas for your next videos</p>
    <a class="btn btn-dark btn-lg" href="/ideas/new">Add Idea</a>
  </div>
<% include ./partials/footer.ejs %>
